 <h1>NewsFeed</h1>

<% @activities.each do |activity| %>
  <div class = "activity">
  [username here]<%= link_to activity.owner.name, activity.owner if activity.owner %>
  posted <%= link_to activity.trackable.message, activity.trackable.message %>
</div>
<%end%>
