 <h1>NewsFeed</h1>

<% @activities.each do |activity| %>
  <div class = "activity">
    <% if activity.trackable_type == "Post" %>
      [username here]<%= link_to activity.owner.name, activity.owner if activity.owner %>
      posted <%= link_to activity.trackable.summary, activity.trackable.summary %>
    <% end %>
</div>
<%end%>
