<h1>My albums</h1>
<br/>
<%= link_to "New album", new_user_album_path %>
<br/><br/>
<%if @albums %>
  <ul>
  <% @albums.each do |album| %>
    <li><%= link_to album.name, user_album_url(current_user, album) %></li>
  <% end %>
</ul>
<% end %>
