<form class="user_album_new" action="users/<%= current_user.id %>/albums" method="post">
  <input id="user_album_name" type="text" placeholder="album name" name="name">
  <input id="submit" type="submit" value="create">
</form>
