<% @posts.each do |post| %>
  <div class="post">
    <div class="post__head">
      <span class="post__head__user">
        <%= post.user.email %>
      </span>
      <span class="post__head__date">
        posted at: <%= post.posted_at %>
      </span>
      <br>
    </div>
    <div class="post__body">
      <%= simple_format(post.message)%>
    </div>
</div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
