<% @posts.each do |post| %>
<p><%= post.message %></p>
<form class="" action="likes" method="post">
  <input type="hidden" value="<%= post.id %>">
  <input type="submit" name="like" value="like">
</form>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
