<% @posts.each do |post| %>
  <div class="post">
    <div class="posthead">
      <span class="postuser">
        (username here)
      </span>
      <span class="postdate">
        posted at: <%= post.created_at.strftime("%H:%M (%d/%m/%y)") %>
      </span>
      <br>
    </div>
    <div class="postbody">
      <%= post.message %>
    </div>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
