.post {
  width:100%;
  margin-top:7px;
  margin-bottom:7px;
}

.post__head {
}

.post__head__user {
  float:left;
}

.post__head__date {
  float:right;
}

.post__body {
  margin-top:5px;
	text-decoration: none;
  padding: .75rem 1.25rem;
}

.card-footer {
  padding: .5em 0;
}

.like {
  float: left;
  margin-left: 5%;
}

.comment-count {
  float: right;
  margin-right: 5%;
}

.comment__body {
  /*margin-left: 5%;
  margin-right: 5%;*/
  margin: 0.5em;
  margin-top: 0;
  color: black;
}

.comment__entry {
  padding: 1%;
}

.comment__text p {
  margin: 1%;
}

.post__interactions hr {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.post__interactions {
  margin-bottom: 0.5em;
}

.form-group textarea {
  margin: 0;
}

.commentbutton {
  float: right;
  margin: 1%;
}

.comment_user {
  color: #787878;
}

a.body_link {
	text-decoration: none;
	color: black;
}
